<!DOCTYPE html>
<head>
    <title>세미아이디어톤 주제잡기</title>
    <style>
    li.target {list-style-type: disc}
    li.check {font-weight: bold}
    </style>
</head>
<body>
    <h1>&#127873;선물 기록 사이트</h1>
    <ol>
        <li class="check">주제선정동기</li>
        <p>: 분명 선물 받은 물건인데 오래전 일이라 정작 누가 줬는지는 기억이 나지 않았던 적이 있어요.<br>
            &nbsp;이전에 주고받았던 선물과 편지를 한 번에 모아보고 싶기도 했고, 친구들의 생일을 잊어버려 미안했던 경우도 있었고요.<br>
            &nbsp;일 년 중 딱 그날뿐인 기념일을 잘 정리해서 조금 더 소중히 대할 수 있도록! &#62;&#62;선물 기록&#60;&#60;이라는 주제를 선정하게 되었습니다.</p>
        <li class="check">기대효과</li>
        <p>: 선물/편지 기록용 블로그가 하나 생기는 거라고 생각하면 될 것 같아요.<br>
            &nbsp;얻을 수 있는 건 사람과..사랑..인류애?💞 시간이 지나 사이트를 리뷰하며 짓게 될 미소..?!🤭<br>
            &nbsp;적어두었으니 이제는 잊지 않을 거라는 든든함..?!?</p>
        <li class="check">핵심 타겟층</li>
        <p>
        <ul>
            <li class="target">기억과 기록을 중요시하는 사람들. &#127806;추억팔이&#127806;를 숨 쉬듯 하는 사람들!</li>
            <li class="target">친구, 가족 등 주변인을 챙기고 싶고, 그럴 여력이 생긴 20대들.</li>
            <li class="target">'사회생활'을 위해서라도 받은 건 꼭 보답해야 마음이 편한 직장인들.</li>
        </ul>
        <p>
        <li class="check">핵심 기능</li>
        <p>
        <ul>
            <li class="target">&#128276;캘린더 기능</li>
                <p>-이미 많은 일정이 차있을 핸드폰 기본 캘린더 앱과 구분해서 중요한 날을 표시하세요.</p>
                <p>-계정을 연동하면 알림도 드릴 수 있어요!</p>
            <li class="target">&#128221;선물 및 편지 기록 기능</li>
                <p>- 코멘트와 함께 관련된 사진을 첨부할 수 있어요.</p>
                <p>- 날짜별, 인물별로 기록한 내용을 한 번에 ‘모아보기’ 할 수 있어요.</p>
            <li class="target">부가 기능</li>
                <p>- 선물 ‘찐’ 후기를 공유할 수 있는 정보게시판</p>
                <p>- 조금 더 욕심을 내보자면‧‧‧<br>
                    &nbsp;카카오톡 선물하기 기능처럼 여러 업체와 제휴하여 사용자들이 사이트에서 선물 리스트를 확인할 수 있으면 좋을 것 같아요.</p>
        </ul>
    </ol>
</body>